<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <section class="admin-sidebar sidebar" data-sidebar="">
        <div class="sidebar-logo-wrap"><a href="https://linktr.ee/admin">
                <h1>
                    Linktree
                    <span class="logo"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 25">
                            <path fill="#39E09B"
                                d="M11.2.688c-.5-.9-1.8-.9-2.3 0l-8.6 15.6c-.399.8.2 1.7 1.101 1.7h5.8v5.9c0 .6.5 1.1 1.1 1.1h3.4c.6 0 1.1-.5 1.1-1.1v-5.9h-1.6c-.7 0-1.2-.5-1.3-1.1 0-.2 0-.4.1-.601l4.8-8.7L11.2.688z">
                            </path>
                            <path fill="#28BF7B"
                                d="M18.8.688c.5-.9 1.8-.9 2.3 0l8.601 15.6c.399.8-.2 1.7-1.101 1.7h-5.7v5.9c0 .6-.5 1.1-1.101 1.1h-3.6c-.601 0-1.101-.5-1.101-1.1v-5.9H18.7c.7 0 1.2-.5 1.3-1.1 0-.2 0-.4-.1-.601l-4.801-8.7L18.8.688z">
                            </path>
                        </svg></span>
                </h1>
            </a></div>
        <div class="sidebar__icons">
            <div class="nav-item sidebar__icons--support"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 18">
                    <path
                        d="M16.5 0h-14C1.1 0 0 1.1 0 2.5v10C0 13.9 1.1 15 2.5 15H4v2.5c0 .2.1.4.3.4 0 .1.1.1.2.1s.2 0 .3-.1L8.7 15h7.8c1.4 0 2.5-1.1 2.5-2.5v-10C19 1.1 17.9 0 16.5 0zM18 12.5c0 .8-.7 1.5-1.5 1.5h-8c-.1 0-.2 0-.3.1L5 16.5v-2c0-.3-.2-.5-.5-.5h-2c-.8 0-1.5-.7-1.5-1.5v-10C1 1.7 1.7 1 2.5 1h14c.8 0 1.5.7 1.5 1.5v10z">
                    </path>
                    <path
                        d="M9.6 2.9h-.2C8.1 2.9 7 4 7 5.4v.4c0 .3.2.5.5.5s.5-.2.5-.5v-.4c0-.8.6-1.5 1.4-1.5h.3c.8 0 1.4.7 1.4 1.5 0 .5-.2.9-.5 1.1l-1 .8c-.4.2-.6.6-.6 1v1.1c0 .3.2.5.5.5s.5-.2.5-.5V8.3c0-.1 0-.2.1-.2l1-.8c.6-.5.9-1.2.9-1.9 0-1.4-1.1-2.5-2.4-2.5zm.4 7.9c-.2-.2-.7-.2-.9 0-.1.1-.2.1-.2.2s-.1.2-.1.2c0 .2.1.3.2.5s.3.2.5.2.3-.1.5-.2c.1-.1.2-.3.2-.5 0-.1 0-.2-.1-.2 0-.1-.1-.1-.1-.2z">
                    </path>
                </svg>
                <div class="sub-nav">
                    <div class="divider">Support</div>
                    <ul>
                        <li class="sub-nav-item"><a target="_blank" rel="noopener noreferrer"
                                href="https://help.linktr.ee/">
                                Help Topics
                            </a></li>
                        <li class="sub-nav-item"><a target="_blank" rel="noopener noreferrer"
                                href="https://help.linktr.ee/support/solutions/48000191909">
                                Get Started
                            </a></li>
                        <li class="sub-nav-item" id="freshdesk-qn-button">
                            <p>Ask A Question</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-item sidebar__icons--headway"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18">
                    <path
                        d="M18.9 5.2l-.8-.2V.5c0-.2-.1-.4-.3-.4-.2-.1-.4-.1-.5 0C13.6 2.4 9.9 3.7 9.1 4c-.2-.2-.4-.3-.6-.3H2.9C1.3 3.7 0 5 0 6.6v3.1c0 1.5 1.2 2.8 2.8 2.8L2 17.4c0 .1 0 .3.1.4.1.1.3.2.4.2h2.8c.2 0 .4-.1.5-.4l1.5-5.1h1.2c.2 0 .5-.1.7-.2.8.2 4.6 1.5 8.2 3.9.1.1.2.1.3.1.1 0 .2 0 .2-.1.2-.1.3-.3.3-.4v-4.5l.8-.2c.7-.2 1.1-.7 1.1-1.4v-3c-.1-.8-.6-1.3-1.2-1.5zM4.9 17H3.1l.7-4.4h2.4L4.9 17zm3.5-5.4H2.9c-1 0-1.9-.8-1.9-1.9V6.6c0-1 .8-1.9 1.9-1.9h5.6c.1 0 .2.1.2.2v6.5c-.1.1-.2.2-.3.2zm8.7 3.3c-3.3-2-6.4-3.1-7.5-3.4V4.8c1-.3 4.2-1.5 7.5-3.4v13.5zM19 9.7c0 .2-.1.4-.4.4l-.5.1V6.1l.5.1c.2 0 .4.2.4.4v3.1z">
                    </path>
                </svg><span id="HW_badge_cont" class="HW_badge_cont HW_visible" style=""><span id="HW_badge"
                        class="HW_badge HW_visible HW_animated" style="" data-count-unseen="3">3</span></span></div>
        </div>
        <div class="login nav-item sidebar__user"><i></i><a class="sidebar__user__avatar"
                href="https://linktr.ee/admin"><span class="img-circle"><img
                        src="https://d1fdloi71mui9q.cloudfront.net/59RgeOf5RwqzNiLDGMHy_Ibt2fssMb6sGU9UK"></span></a>
            <div class="sub-nav ps-container ps-theme-default" data-perfect-scroll=""
                data-ps-id="04182bd7-56c4-3444-3845-e8beca2aa4b1">
                <div class="divider">rameezraja2755</div>
                <ul>
                    <li class="sub-nav-item"><a class="" href="https://linktr.ee/admin/account">
                            My Account
                        </a></li>
                    <li class="sub-nav-item"><a href="https://linktr.ee/logout"
                            data-logout-url="https://linktr.ee/logout" data-logout="">
                            Logout
                        </a></li>
                </ul>
                <div class="divider">Trees</div>
                <ul>
                    <li class="sub-nav-item active primary" data-tree-id="16424749"><a class="active-account"
                            href="https://linktr.ee/admin">
                            @rameezraja2755
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.02 9.55">
                                <path fill="#fff800"
                                    d="M5,0c-.7,0-.9,3-1.4,3.3S.21,3,0,3.6,2.51,5.3,2.71,6s-1.4,3.1-.8,3.5S4.31,7.6,5,7.6s2.6,2.3,3.1,1.9-1-2.9-.8-3.5,2.9-1.7,2.7-2.4-3.1.1-3.6-.3S5.61,0,5,0Z">
                                </path>
                            </svg></a></li>
                </ul>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                </div>
                <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>